<div class="clothing">
  <div class="content shade" fxLayout="column">
    <div class="clothing-text">
      <u>Clothing</u> > <b>Outerwear</b>
    </div>
    <div fxLayout="row">
      <div>
        <img class="image1" width="300" src="{{ product.img_one_url }}" alt="jacket">
      </div>
      <div class="product-info" fxLayout="column">
        <div class="product-name">{{ product.name }}</div>
        <ng-container *ngFor="let descriptor of product.descriptors">
          <div class="product-descriptor">
            {{ descriptor }}
          </div>
        </ng-container>
        <div fxLayout>
          <img class="buttons" src="../../assets/size.png" alt="size">
          <img class="buttons" src="../../assets/color.png" alt="color">
        </div>
        <div class="quantity">
          <i>Quantity</i>
        </div>
        <div fxLayout>
          <img class="buttons-bottom" src="../../assets/adjuster.png" alt="quantity">
          <img class="buttons-bottom" src="../../assets/add-to-cart.png" alt="add-to-button">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="experience">
  <div class="content">test</div>
</div>
<div class="reviews">
  <div class="content">test</div>
</div>
