.clothing {
  background-image: url("../../assets/topsection-background.png");
}
.experience {
  background-color: rgb(136, 137, 138);
}
.reviews {
  background-color: rgb(16, 50, 77);
  color: rgb(235, 236, 237);
}
.content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.image1 {
  padding: 60px;
}
.image2 {
  padding-top: 20px;
}
.shade {
  background-color: rgba(0, 0, 0, 0.5);
}
.clothing-text {
  padding: 20px 20px 0px;
  color: rgb(235, 236, 237);
}
.product-info {
  color: rgb(235, 236, 237);
  margin-left: 60px;
}
.product-name {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.product-descriptor {
  font-size: 14px;
  margin-bottom: 7px;
}
.buttons {
  width: 102px;
  margin-right: 20px;
  margin-top: 20px;
}
.buttons-bottom {
  width: 102px;
  margin-right: 20px;
  margin-top: 20px;
}
.quantity {
  font-size: 11px;
  position: relative;
  top: 16px;
}
.description {
  width: 300px;
  padding: 0px 20px;
  color: rgb(235, 236, 237);
}
.review-title {
  font-size: 30px;
}
.review-title-row-one {
  padding-top: 30px;
  padding-left: 100px;
}
.review-product {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  top: 14px;
  left: 60px;
  font-size: 13px;
}
.reviewer-name {
  font-size: 11px;
}
.image3 {
  margin-top: 4px;
  border: solid rgb(235, 236, 237) 1px;
}
.review-container {
  margin: 20px 0px;
}
.review-content-title {
  margin: 0 20px;
  font-weight: bold;
}
.review-content-description {
  margin: 10px 120px 0 20px;
}
.stars {
  position: relative;
  bottom: 2px;
  left: 20px;
}