<div class="clothing">
  <div class="content shade" fxLayout="column">
    <div class="clothing-text">
      <u>Clothing</u> > <b>Outerwear</b>
    </div>
    <div fxLayout="row">
      <div>
        <img class="image1" width="300" src="{{ product.img_one_url }}" alt="image-one">
      </div>
      <div class="product-info" fxLayout="column">
        <div class="product-name">{{ product.name }}</div>
        <ng-container *ngFor="let descriptor of product.descriptors">
          <div class="product-descriptor">
            {{ descriptor }}
          </div>
        </ng-container>
        <div fxLayout>
          <div>
            <img class="buttons" src="../../assets/size.png" alt="size">
          </div>
          <div>
            <img class="buttons" src="../../assets/color.png" alt="color">
          </div>
        </div>
        <div class="quantity">
          <i>Quantity</i>
        </div>
        <div fxLayout>
          <div>
            <img class="buttons-bottom" src="../../assets/adjuster.png" alt="quantity">
          </div>
          <div>
            <img class="buttons-bottom" src="../../assets/add-to-cart.png" alt="add-to-button" height="27">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="experience">
  <div class="content" fxLayout>
    <div>
      <img class="image2" width="450" src="{{ product.img_two_url }}" alt="image-two">
    </div>
    <div class="description">
      <ng-container *ngFor="let description of product.descriptions">
        <p>
          {{ description }}
        </p>
      </ng-container>
    </div>
  </div>
</div>
<div class="reviews">
  <div class="content" fxLayout="column">
    <div class="review-title-row-one" fxLayout>
      <div class="review-title">Reviews</div>
      <div class="review-product" (click)="openModal('custom-modal-1')">Write a review on this product</div>
    </div>
    <ng-container *ngFor="let review of product.reviews">
      <div class="review-container" fxLayout>
        <div>
          <img class="image3" width="80" src="{{ review.img_photo_url }}" alt="image-two">
          <div class="reviewer-name">{{ review.review_name }}</div>
        </div>
        <div>
          <div fxLayout>
            <div class="review-content-title">
              {{ review.review_title }}
            </div>
            <div>
              {{ review.review_date }}
            </div>
            <div class="stars">
              <span *ngFor="let i of Arr(review.stars).fill(1)">
                &#9733;
              </span>
            </div>
          </div>
          <div class="review-content-description">
            {{ review.review_description }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-modal id="custom-modal-1">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <div class="review-name" fxLayout>
        <div class="review-title-modal">
          Please rate the <b>{{ product.name }}</b>
        </div>
      </div>
      <div class="review-name" fxLayout>
        <div class="review-title-modal">
          Review Title:
        </div>
        <input formControlName="title" fxFlex>
      </div>
      <textarea class="review-name-two" rows="10" formControlName="reviewContent"
        placeholder=" - Write your review here -"></textarea>
      <div fxLayout fxLayoutAlign="end center">
        <button class="review-button">Submit Review</button>
      </div>
    </div>
  </form>
</app-modal>
