<div class="clothing">
  <div class="content shade" fxLayout="column">
    <div class="clothing-text">
      <u>Clothing</u> > <b>Outerwear</b>
    </div>
    <div fxLayout="row">
      <div>
        <img class="image1" width="300" src="../assets/tough-mojo-jacket-img1.png" alt="jacket">
      </div>
      <div fxLayout="column">
        <div>title</div>
        <div>descriptors</div>
        <div fxLayout>
          <div></div>
          <div></div>
        </div>
        <div fxLayout>
          <div></div>
          <div>
            <button>Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="experience">
  <div class="content">test</div>
</div>
<div class="reviews">
  <div class="content">test</div>
</div>
