.clothing {
  background-image: url("../../assets/topsection-background.png");
}
.experience {
  background-color: rgb(136, 137, 138);
}
.reviews {
  background-color: rgb(16, 50, 77);
}
.content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.image1 {
  padding: 60px;
}
.shade {
  background-color: rgba(0, 0, 0, 0.5);
}
.clothing-text {
  padding: 20px 20px 0px;
  color: rgb(235, 236, 237)
}