<div class="header-wrapper">
  <div class="content" fxLayout fxLayoutAlign="space-between center">
    <img class="main-logo" src="../../assets/axiom-logo-main.png" alt="logo" width="220">
    <div class="right-content" fxLayout="column">
      <div class="search-row" fxLayout>
        <input type="text" placeholder="SEARCH FOR GEAR">
        <img class="search-icon" src="../../assets/search-icon.png" alt="search">
      </div>
      <div class="icon-row" fxLayout>
        <img class="facebook" src="../../assets/fb-icon.png" alt="facebook" height="15">
        <img class="twitter" src="../../assets/twitter-icon.png" alt="twitter" height="20">
        <div class="header-text">
          My Account <span class="bar">|</span> Cart <span class="bar">|</span> Logout
        </div>
      </div>
    </div>
  </div>
</div>