<div class="footer-wrapper">
  <div class="content" fxLayout fxLayoutAlign="space-between center">
    <img class="small-logo" src="../../assets/axiom-logo-small.png" alt="small-logo" width=90>
    <div class="right-side-content" fxLayout>
      <div class="footer-text">
        About Us <span class="bar">|</span> Contact Us <span class="bar">|</span> Privacy Policy <span
          class="bar">|</span> Terms of Service <span class="bar">|</span> Site Map
      </div>
      <img class="facebook" src="../../assets/fb-icon.png" alt="facebook" height="15">
      <img class="twitter" src="../../assets/twitter-icon.png" alt="twitter" height="20">
    </div>
  </div>
</div>