<div class="action-bar-wrapper">
  <div class="content">
    <div class="action-bar" fxLayout fxLayoutAlign="space-between start">
      <ng-container *ngFor="let menuItem of menu.menuItem; let i = index">
        <div class="menu-item">
          {{ menuItem.menuItemName }}
          <span class="carrot">&#8964;</span>
          <span *ngIf="i !== menu.menuItem.length - 1" class="bar">&#124;</span>
          <div *ngIf="menuItem.subMenuItem" class="submenu">
            <ng-container *ngFor="let subMenuItem of menuItem.subMenuItem">
              <div>{{ subMenuItem}}</div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>