.action-bar-wrapper {
  background-color: rgb(235, 236, 237);
  height: 50px;
}
.content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.carrot {
  position: relative;
  bottom: 5px;
  font-size: 30px;
  color: gray;
}

.action-bar {
  font-size: 24px;
  color: rgb(45, 101, 104);
  height: 100%;
  margin: 0 15px;
}
.bar {
  margin-left: 40px;
}
