.action-bar-wrapper {
  background-color: rgb(235, 236, 237);
  height: 50px;
}
.content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding-top: 5px;
}
.carrot {
  position: relative;
  bottom: 5px;
  font-size: 30px;
  color: gray;
}
.action-bar {
  font-size: 24px;
  color: rgb(45, 101, 104);
  height: 100%;
  margin: 0 15px;
}
.bar {
  margin-left: 40px;
}
.clothing-submenu {
  visibility: hidden;
  position: relative;
  top: 2px;
  right: 33px;
  z-index: 107;
  width: 190px;
  border: solid lightgray 1px;
  background-color: rgb(235, 236, 237);
  font-size: 14px;
  text-align: center;
}
.clothing:hover > .clothing-submenu {
  visibility: visible;
  cursor: pointer;
}
.clothing-submenu div {
  margin: 0 15px;
  padding: 5px 0;
  border-bottom: solid lightgray 1px;
}
.clothing-submenu div:nth-child(4) {
  border-bottom: none;
}
.clothing-submenu div:hover {
  border-bottom: 1px solid transparent;
  margin: 0;
  background-color: rgb(90, 150, 163);
  color: rgb(235, 236, 237);
  outline: rgb(90, 150, 163) solid 1px;
}
