<div class="action-bar-wrapper">
  <div class="content">
    <div class="action-bar" fxLayout fxLayoutAlign="space-between center">
      <div>
        Camping <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Clothing <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Fishing <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Hiking <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Biking <span class="carrot">&#8964;</span>
      </div>
    </div>
  </div>
</div>