<div class="action-bar-wrapper">
  <div class="content">
    <div class="action-bar" fxLayout fxLayoutAlign="space-between start">
      <div>
        Camping <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div class="clothing">
        Clothing <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
        <div class="clothing-submenu">
          <div>Outerwear</div>
          <div>Hiking Shoes/Boots</div>
          <div>Gloves</div>
          <div>Hats</div>
        </div>
      </div>
      <div>
        Fishing <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Hiking <span class="carrot">&#8964;</span><span class="bar">&#124;</span>
      </div>
      <div>
        Biking <span class="carrot">&#8964;</span>
      </div>
    </div>
  </div>
</div>